
.live {
    display: flex;
    flex-direction: column;
    font-weight: 100;
    padding: 40px;
    opacity: 0.8;
    text-align: center;
    padding-bottom: 100px;
    border-radius: 25px 25px 0px 0px;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  .live-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .list-item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 100;
    border-bottom: 1px solid rgba(128, 128, 128, 0.409);
  
  }
    .circle {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: rgb(69, 188, 234);
    }
  
    .rcircle {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: red;
    }

    @media (max-width: 1200px) {
      .live {
        width: 50vw;
        padding: 50px;
      }
    }